<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css'
      integrity='sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN'
      crossorigin='anonymous'
    />
    <script
      defer
      src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js'
    ></script>
    <script
      defer
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js'
      integrity='sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+'
      crossorigin='anonymous'
    ></script>
    <script
      defer
      src='https://code.jquery.com/jquery-3.7.1.js'
      integrity='sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4='
      crossorigin='anonymous'
    ></script>
    <link rel='stylesheet' href='/css/webkit.css' />
    <link rel='stylesheet' href='/css/_variables.css' />

    <title>Konto</title>
    <script defer src='/js/account.js'></script>
  </head>
  <body class='bg-black bg-gradient text-white'>
    <header
      class='text-center border-bottom border-primary bg-black position-sticky top-0 w-100 z-1 bg-gradient d-flex justify-content-between align-items-center'
    >
      <a
        href='../'
        class='link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover link-primary border border-primary p-3 bg-black bg-gradient border-3 ms-3 text-info-'
      >
        Tillbaka
      </a>
      <h1 class='py-4'>
        Regeringen
      </h1>
      <p class='d-inline'></p>
    </header>

    <main
      class='d-flex flex-column justify-content-center align-items-center text-white my-4'
    >
      <section
        class='text-center w-25 border border-success rounded p-3 bg-dark bg-gradient text-white card bg-dark bg-gradient border border-success rounded p-3 w-25'
      >

        <h2 class='card-header'>Konto</h2>
        <section
          class='card-body d-flex flex-column justify-content-center align-items-center'
        >
          {{#if user.linkedDiscord}}
            <img src='{{user.avatar}}' alt='' class='w-50' />
          {{else}}
            <img src='/images/default-avatar.png' alt='' class='w-50' />
          {{/if}}
          {{#if user.loggedIn}}
            <p class='w-75 my-2'>Inloggad som {{user.user}}</p>
          {{else}}
            <p class='w-75 my-2'>Inte inloggad</p>
          {{/if}}
          {{#if user.linkedDiscord}}
            <p class='w-75 my-2'>Discord: {{user.username}}</p>
          {{else}}
            <p class='w-75 my-2'>Inte länkad till Discord</p>
          {{/if}}
          <a class='alert alert-primary w-75 my-2' href='/logout'>Logga ut</a>
          <a class='alert alert-danger w-75 my-2' href='/delete'>Ta bort konto</a>
        </section>
        <footer class='card-footer alert alert-danger d-none' id='response'>

        </footer>
      </section>

    </main>
  </body>
</html>