<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css'
      integrity='sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN'
      crossorigin='anonymous'
    />
    <script
      defer
      src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js'
    ></script>
    <script
      defer
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js'
      integrity='sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+'
      crossorigin='anonymous'
    ></script>
    <script
      defer
      src='https://code.jquery.com/jquery-3.7.1.js'
      integrity='sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4='
      crossorigin='anonymous'
    ></script>
    <script defer src='/js/login.js'></script>
    <link rel='stylesheet' href='/css/login.css' />
    <title>Aktivitiet</title>
    <script defer src='/js/activity.js'></script>
  </head>
  <body class='bg-black bg-gradient text-white'>
    <header class='text-center pb-4 mt-4 mb-2 border-bottom border-primary'>
      <h1>
        Regeringen
      </h1>
    </header>
    <aside
      class='border border-success rounded d-flex flex-column align-items-center float-end'
    >
      {{#if user.loggedIn}}
        {{#if user.linkedDiscord}}
          <img src='{{user.avatar}}' alt='' />
          <p>{{user.user}}</p>
          <p>Discord: {{user.displayname}}</p>
        {{else}}
          <img src='/images/default-avatar.png' alt='' />
          <p>{{user.user}}</p>
          <a
            href='https://discord.com/oauth2/authorize?client_id=1222824481571999856&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A4000%2F&scope=identify'
          >Länka Discord</a>
        {{/if}}
        <a href='/account'>
          Account
        </a>
      {{else}}
        <img src='/images/default-avatar.png' alt='' />
        <button
          type='button'
          id='login-button'
          class='btn btn-link link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover link-info'
        >
          <p class='d-inline'>
            Sign in
          </p>
        </button>
        <a
          href='/register'
          class='link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover link-info mb-3'
          target='_blank'
        >Sign up</a>
      {{/if}}
    </aside>
    <section
      id='login-popup'
      class='position-fixed bg-black bg-gradient text-white top-50 start-50 translate-middle border border-dark-subtle rounded'
    >
      <h3 class='card-header'>Logga in</h3>
      <form class='card-body'>
        <label for='username' class='form-label'>Användarnamn eller email:</label>
        <input type='text' id='username' name='username' class='form-control' />
        <label for='password' class='form-label'>Lösenord:</label>
        <input
          type='password'
          id='password'
          name='password'
          class='form-control'
        />
        <button
          type='button'
          id='submit-login'
          class='btn btn-primary mt-2'
        >Logga in</button>
        <button
          type='button'
          id='close-login'
          class='btn btn-primary mt-2'
        >Stäng</button>
      </form>
      <section id='response' class='card-footer alert'>
      </section>
    </section>
    <main class='container'>
      <h2 class='ms-5 mt-4 h3'>Aktivitet</h2>
      <p class='ms-5 mb-4'>Här är de Discord-aktiviteter som är vanligast inom
        Regeringen:</p>
      <ul>
        <hr />
        {{#each activities}}
          <li class='d-flex flex-row justify-content-between'>
            <p class='d-inline my-2 mx-3'>{{this.name}}</p>
            <p class='d-inline my-2 mx-3'>{{this.time}}</p>
          </li>
          <hr />
        {{/each}}
      </ul>
    </main>
  </body>
</html>