<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Citat</title>
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT'
      crossorigin='anonymous'
    />
    <script
      src='https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js'
      crossorigin='anonymous'
    ></script>
    <script src='/js/citat.js'></script>
    <link rel='stylesheet' href='/css/reset.css' />
  </head>
  <body>
    <h1>Quotes</h1>
    <ul>
      {{#each citat}}
        <li id='{{this.citatID}}'>{{this.quote}}</li>
        <button
          class='btn btn-primary'
          onclick='editCitat({{this.citatID}}, "{{this.quote}}")'
        ></button>
        <button
          class='btn btn-danger'
          onclick='editCitat({{this.citatID}}, "{{this.quote}}")'
        >

        </button>
        <br />
      {{/each}}
    </ul>
  </body>
</html>