<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css'
      integrity='sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN'
      crossorigin='anonymous'
    />
    <script
      defer
      src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js'
    ></script>
    <script
      defer
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js'
      integrity='sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+'
      crossorigin='anonymous'
    ></script>
    <script
      defer
      src='https://code.jquery.com/jquery-3.7.1.js'
      integrity='sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4='
      crossorigin='anonymous'
    ></script>
    <title>Regeringen</title>
    <link rel='stylesheet' href='/css/index.css' />
    <script defer src='/js/index.js'></script>
  </head>
  <body>
    <header class='text-center pb-4 mt-4 mb-2 border-bottom border-primary'>
      <h1>
        Regeringen
      </h1>
    </header>
    <aside
      class='border border-primary-subtle rounded d-flex flex-column align-items-center float-end'
    >
      {{#if user.loggedIn}}
        {{#if user.linkedDiscord}}
          <img src='{{user.avatar}}' alt='' />
          <p>{{user.user}}</p>
          <p>Discord: {{user.displayname}}</p>
        {{else}}
          <img src='/images/default-avatar.png' alt='' />
          <p>{{user.user}}</p>
          <a href='/discordAuth'>Sync to Discord</a>
        {{/if}}
        <a href='/account'>
          Account
        </a>
      {{else}}
        <img src='/images/default-avatar.png' alt='' />
        <a href='/login'>Sign in</a>
        <a href='/register'>Sign up</a>
      {{/if}}
    </aside>
    {{! Carousel for all subpages, only use semantic HTML elements }}
    <main
      class='container'
      id='main'
      role='main'
      aria-label='Main content'
      aria-live='polite'
    >
      <section class='row' aria-label='Carousel' aria-live='polite'>
        <h2 class='col-12 text-center'>
          Sidor
        </h2>
        <article class='col-12 col-md-6 col-lg-4 col-xl-3' aria-label='Members'>
          <a href='/activity' class='col-12'>
            <h3 class='text-center'>Activity</h3>
            <p class='text-center'>
              En sida för aktviteten av regeringensmedlemmarna.
            </p>
          </a>
        </article>
        <article class='col-12 col-md-6 col-lg-4 col-xl-3' aria-label='Members'>
          <a href='/citat' class='col-12'>
            <h3 class='text-center'>Citat</h3>
            <p class='text-center'>
              En sida för citat som regeringen har sagt.
            </p>
          </a>
        </article>
        <article class='col-12 col-md-6 col-lg-4 col-xl-3' aria-label='Members'>
          <a href='/members' class='col-12'>
            <h3 class='text-center'>Spotify</h3>
            <p class='text-center'>
              En sida för att se vad regeringen lyssnar på.
            </p>
          </a>
        </article>
        <article class='col-12 col-md-6 col-lg-4 col-xl-3' aria-label='Members'>
          <a href='/screenshots' class='col-12'>
            <h3 class='text-center'>Skärmbilder</h3>
            <p class='text-center'>
              En sida för att se skärmbilder som regeringen har tagit i
              Minecraft.
            </p>
          </a>
        </article>
      </section>
    </main>
  </body>
</html>